.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    max-width: 900px;
    margin: auto;    
}
.footer h1 {
    font-size: 35px;  
    font-weight: 700; 
    color: rgb(252, 247, 251); 
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    background: rgb(87, 60, 60);
    border-radius: 5px;
}

